/* Reset default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font size to 10px (62.5% of the default browser font size) */
html {
  font-size: 62.5%;
}

/* Make images responsive */
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* Set up the main layout */
body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(../img/Bckgrnd-Prd-Pg-8.png) no-repeat;
  background-size: cover;
}

/* Container for content with max width and padding */
.container {
  max-width: 65rem;
  width: 100%;
  padding: 0 1.5rem; /* Combine left and right padding */
}

/* Grid layout for arranging content */
.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}

/* Styling for individual boxes in the grid */
.box {
  width: 4.1rem;
  height: 4.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Special styling for specific boxes */
.row .box:nth-child(-n + 5) {
  /* Selects the first 5 boxes */
  grid-row: 5;
}

/* Apply individual column and row styles for specific boxes */
.row .box:nth-child(1) {
  grid-column: 1;
}
.row .box:nth-child(2) {
  grid-column: 2;
}
.row .box:nth-child(3) {
  grid-column: 3;
}
.row .box:nth-child(4) {
  grid-column: 4;
}
.row .box:nth-child(5) {
  grid-column: 5;
}

/* Styling for the zoom container */
.row .box:nth-child(6) {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: 1 / span 5;
  grid-row: 1 / span 4;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

/* Styling for the zoomed image inside the zoom container */
#zoomImage {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  transform-origin: top left;
}

/* Media queries for responsiveness */
@media (min-width: 375px) {
  .box {
    width: 6rem;
    height: 6rem;
  }
}

@media (min-width: 430px) {
  .box {
    width: 7.1rem;
    height: 7.1rem;
  }
}

@media (min-width: 500px) {
  .box {
    width: 8.5rem;
    height: 8.5rem;
  }
}

@media (min-width: 650px) {
  .box {
    width: 11.5rem;
    height: 11.5rem;
  }
}

@media (min-width: 768px) {
  .box {
    width: 10.2rem;
    height: 10.2rem;
  }

  /* Special styling for specific boxes */
  .row .box:nth-child(-n + 5) {
    /* Selects the first 5 boxes */
    grid-column: 1;
  }

  /* Apply individual row styles for specific boxes */
  .row .box:nth-child(1) {
    grid-row: 1;
  }
  .row .box:nth-child(2) {
    grid-row: 2;
  }
  .row .box:nth-child(3) {
    grid-row: 3;
  }
  .row .box:nth-child(4) {
    grid-row: 4;
  }
  .row .box:nth-child(5) {
    grid-row: 5;
  }

  .row .box:nth-child(6) {
    grid-column: 2 / span 4;
    grid-row: 1 / span 5;
  }
}
